<ngx-img-zoom class="center"
    [zoomImageSrc]="zoomImageSrc"
    [previewImageSrc]="previewImageSrc"
    [imgStyle]="'width:400px; height:400px'" 
    [resultStyle]="'width:300px; height:300px'"
    [lensStyle]="'width:50px; height:60px'"
    [containerStyle]=""
></ngx-img-zoom>



<div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>

<button (click)="changeImageForZoom()">Set Random Image</button>