<ngx-img-zoom class="center"
    [zoomImageSrc]="zoomImageSrc"
    [previewImageSrc]="previewImageSrc"
    [imgStyle]="" 
    [resultStyle]=""
    [lensStyle]=""
    [containerStyle]=""
></ngx-img-zoom>



<div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>

<button (click)="changeImageForZoom()">Set Random Image</button>